<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {{>headerLinks}}
</head>
<body>

<!-- navbar start -->
{{>navbar}}
<!-- navbar closed -->

<!--start main content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row align-items-center justify-content-center">
        <!-- left side div -->
        <div class="col-md-6 col-12 main_header_left align-items-center"> 
            <figure>
                <img src="images/404error.png" class="img-fluid" alt="M.A Image" title="M.A Image">
            </figure>
                           <h1> {{errorMsg}} </h1>
                    <p> Welcome To M.A Weather App </p>
                    <br />
     <a href="/"><button>Go Back</button></a>
             </div>
         </div>
        </div>
      </div>
   </div>
<!--closed main content -->

<!-- Footer Start -->
{{>footer}}
<!-- Footer Closed -->

  </body>

    </html>