<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {{>headerLinks}}
</head>
<body>

<!-- navbar start -->
{{>navbar}}
<!-- navbar closed -->

<!--start main content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <!-- left side div -->
        <div class="col-md-6 col-12 main_header_right align-items-center"> 
            <figure>
                <img src="images/aboutlogo.png" class="img-fluid" alt="M.A Image" title="M.A Image">
            </figure>
             </div>
   <!-- right side div -->
      <div class="col-md-6 col-12 main_header_left">
        <p>Welcome To M.A Weather App</p>
        <h1>I AM A <span class="txt_clr"> Mern Stack Developer </span> Youtuber And A Freelancer</h1>
     <a href="https://syed-muz.web.app/" target="_blank"><button>About Me</button></a>
      </div>
        </div>
      </div>
   </div>
</div>
<!--closed main content -->


<!-- Footer Start -->
{{>footer}}
<!-- Footer Closed -->
  </body>
    </html>